@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 86 119 252;
    --color-primary-variant: 0 76 200;
    --color-secondary: 255 160 0;
    --color-secondary-variant: 198 113 0;
    --color-background: 255 255 255;
    --color-surface: 240 240 240;
    --color-error: 176 0 32;
    --color-shadow: 156 163 175;

    --color-text-on-primary: 255 255 255;
    --color-text-on-secondary: 0 0 0;
    --color-text-on-background: 0 0 0;
    --color-text-on-surface: 0 0 0;
    --color-text-on-error: 255 255 255;
  }

  html.dark {
    --color-primary: 178 255 89;
    --color-primary-variant: 126 203 32;
    --color-secondary: 224 64 251;
    --color-secondary-variant: 170 0 199;
    --color-background: 0 0 0;
    --color-surface: 39 39 39;
    --color-error: 176 0 32;
    --color-shadow: 31 41 55;

    --color-text-on-primary: 0 0 0;
    --color-text-on-secondary: 255 255 255;
    --color-text-on-background: 255 255 255;
    --color-text-on-surface: 255 255 255;
    --color-text-on-error: 255 255 255;
  }

  body {
    @apply bg-background tracking-wide text-skin-on-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  h3 {
    @apply text-2xl sm:text-3xl;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn {
    @apply rounded-full bg-gradient-to-r from-primary to-primary-variant py-2 px-3 font-semibold uppercase text-skin-on-primary shadow-lg shadow-shades duration-300 hover:scale-105;
  }

  .toast {
    @apply rounded-md border-2 border-gray-500 bg-surface p-2;
  }
}

@font-face {
  font-family: "ShareTech Mono Regular";
  src: url("../../public/assets/fonts/ShareTechMono-Regular.ttf");
}
