.tags {
  list-style-type: none;
}

.tag {
  display: inline-block;
}

.blogImage {
  overflow: hidden;
  height: 250px;
  width: 100%;
  border-radius: 9px;
}

.blogImage > img {
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  width: 100%;
}

.blogImage > img:hover {
  transform: scale(1.2);
}
