:root {
  --color-primary: #000;
  --color-primary-accent: #2614c7;
  --color-button: #3d486c;
  --color-background: #fff;
}

[data-theme="dark"] {
  --color-primary: #ff;
  --color-primary-accent: #00ff4c;
  --color-button: #00ff4c;
  --color-background: #22212b;
}
